<!--  <h1> {{name}} !</h1>
<h2>status {{status?'Active':'Inactive'}}</h2> -->
<!-- <p>value of A: {{a}}</p>
<p> value of B: {{b}}</p> -->

<!-- <div style="width: auto; margin-top: 50px;">
<p class="para">the sum of A +B:  {{sum}}</p>
</div> -->

<!-- <div class="flex-container">
  <div style="color: aliceblue;">Property binding</div>
  <div class="item">
    <div>
      <input
        type="text"
        placeholder="add value"
        value="{{inputValue}}"
      />
      <br />
      <input type="text" [value]="inputValue" />
    </div>
  </div>
</div> -->

<!-- event binding -->

<!--<button  type="submit" (click)="clickk()"> click me</button> -->

<!-- <app-counter-example></app-counter-example> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
 <!-- <app-stru-directive></app-stru-directive> -->
  <!-- <app-switch-fet-19></app-switch-fet-19> -->
   <!-- <app-asignment1></app-asignment1> -->
    <!-- <app-asignment-2></app-asignment-2> -->
     <!-- <app-small-portfolio></app-small-portfolio> -->

     <app-ng-on-chnages-hook></app-ng-on-chnages-hook>